# User-specific stuff
.idea/
*.iml
*.ipr

# IntelliJ
target/

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
